:root {
    --bg: #091b33;
    --bg-lighter: #1E688387;
    --main: #2AC990;
    --light: #FFFF
}

a {
    color: var(--light);
}

html {
    font-family: 'Nunito', sans-serif;
    color: var(--light);
    background: var(--bg);
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.4rem;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0 0 1rem 0;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top img {
    text-align: center;
    width: 150px;
}

.graph {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

canvas {
    width: 100% !important;
    max-height: 25rem;
    border-radius: 1%;
    padding: 1rem;
    background: var(--bg-lighter);
}

/*
 BAR
 */

.hourly::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-lighter);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main);
}


.slideBar {
    margin-top: 1rem;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--light);
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slideBar:hover {
    opacity: 1;
}
.slideBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main);
    cursor: pointer;
}
.slideBar::-moz-range-thumb {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main);
    cursor: pointer;
}


datalist {
    font-size: 0.6rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    color: #868686;
    width: 100%;
}

/*
   HEADER
 */
.hidden {
    display: none;
}

#menulijst {
    padding: 0;
    backdrop-filter: blur(6px);
    height: calc(100vh - 50px);
    background: var(--bg-lighter);
    margin: 0 !important;
    position: absolute;
    top: 50px;
    width: 100%;
}

.logo img {
    width: 100px;
}

header nav {
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 2;
    border-bottom: var(--light);
    max-width: 50rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

header .logo {
    margin-left: auto;
}

.logo img {
    position: relative;
    height: 55px;
    top: 6px;
}

header ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header li {
    list-style-type: none;
    position: relative;
}

header ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 1rem 0.5rem;
    text-decoration: none;
}

.hamburger {
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburger span {
    transition-duration: 0.5s;
    margin-right: 1rem;
    margin-top: 0.2rem;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--light);
    display: block
}

.hamburger a {
    text-decoration: none;
}

/* -------------------------------------- //
              header animation
// -------------------------------------- */
header ul li:before {
    content: "";
    position: absolute;
    left: 37.5%;
    height: 0.2rem;
    bottom: 0.5rem;
    width: 25%;
    background: var(--main);
    transition: .5s;
}

.huidige:before {
    width: 100%;
    height: 0.2rem;
    left: 0;
    background: var(--main);
    bottom: 1rem;
    border-left: none;
}

nav ul li:hover:not(.huidige):before {
    left: 0;
    width: 100%;
    background: var(--main);
}

header .hamburger[aria-pressed=true] div span:first-child {
    transform: rotate(45deg) translateY(9px);
}

header .hamburger[aria-pressed=true] div span:nth-child(2) {
    transition-duration: 0.5s;
    opacity: 0;
}

header .hamburger[aria-pressed=true] div span:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
}

.hamburger[aria-pressed=false] + ul, .hamburger[aria-pressed=true] + ul {
    animation: showHide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes showHide {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@media (min-width: 680px) {
    .graph {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
    }

    .hidden {
        display: flex;
        flex-direction: row;
    }

    .hamburger[aria-pressed=false] + ul, .hamburger[aria-pressed=true] + ul {
        animation: none;
    }

    header nav {
        padding: 0 2rem;
    }

    header #menulijst {
        height: 50px;
        margin: 0 !important;
        position: initial;
        top: 0;
        background: none;
        width: initial;
        flex-direction: row;
    }

    header ul li {
        margin-left: 1rem;
    }
    .hamburger {
        display: none;
    }
    footer {
        background: #05101f;
    }

}

/*
   COLOR SCHEME
 */


/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/

/*        --bg: #FFFF;*/
/*        --bg-lighter: #1E688387;*/
/*        --main: #2AC990;*/
/*        --light: #0c294d;*/
/*    }*/
/*}*/